* {
  color: #ececec;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #212121;
  display: flex;
}
